<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Енотик-поварёнок</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

    <body class="body">

      <header class="page-header">
        <div class="page-header__container">
          <a href="/" class="page-header__logo">
            <svg class="page-header__logo-img" width="20" height="20">
              <use xlink:href="{{ url_for('static', filename='assets/icons/symbols.svg') }}#racoon"></use>
            </svg>
          </a>
        </div>
      </header>

        <main class="main">
          <article class="recipe">

            <header class="recipe__header">

              <h1 class="recipe__title">Гречка с овощами</h1>

              <div class="recipe__about">

                <picture class="recipe__picture">
                  <img src="../static/images/kasha.jpg" alt="kasha" class="recipe__image">
                </picture>


            </header>

            <div class="recipe__container">
              <div class="recipe__content content">

                <h5>Сложность: 2/5</h5>
                <h5>Цена: ~90 руб.</h5>
                <h5>Время: 30 мин.</h5>

                <br/>

                <h5>Ингредиенты:</h5>
                
                <ul>
                  <li>Крупа гречневая | 100 гр.</li>
                  <li>Перец болгарский красный | 200 гр.</li>
                  <li>Морковь | 230 гр.</li>
                  <li>Лук | 120 гр.</li>
                  <li>Чеснок | 1 зубчик</li>
                  <li>Сливочное масло | по вкусу</li>
                  <li>Соль | по вкусу</li>
                  <li>Молотый черный перец | по вкусу</li>
                  <li>Черный перец горошком | 2 шт.</li>
                </ul>

                <br />

                <h5>Инструкция приготовления:</h5>

                <p>1. Подготовить необходимые продукты.</p>

                <p>2. Гречку промыть и залить в кастрюле водой (200 мл). Добавить лавровый лист и душистый перец.
                </p>

                <p>3. Поставить кастрюлю на огонь. Довести воду до кипения, посолить (1/4 ч. ложки). Варить на медленном огне до готовности, 15-20 минут после закипания.</p>

                <p>4. Тем временем лук и чеснок очистить и измельчить. Очищенную морковь натереть на мелкой тёрке.</p>

                <p>5. Болгарский перец очистить от семян и плодоножки. Мякоть нарезать некрупными кусочками.</p>

                <p>6. В сковороде разогреть масло, выложить лук и обжарить 3 минуты на среднем огне.</p>

                <p>7. Добавить к луку морковь и сладкий перец. Обжарить всё 3 минуты.</p>

                <p>8. Добавить в сковороду чеснок. Перемешать.</p>

                <p>9. Тушить под крышкой на медленном огне 3-4 минуты, до мягкости овощей.</p>

                <p>10. Готовую гречку переложить к овощам. Перемешать.</p>

                <p>11. Добавить соль (1/2 ч. ложки) и перец (1/8 ч. ложки).</p>

                <p>12. Всё перемешать и готовить на медленном огне ещё 3 минуты.</p>

                <p>13. Гречневая каша с овощами готова.</p>
            </div>
          </div>

          </article>
        </main>
        
        <footer class="page-footer">
          <div class="page-footer__container">
            <div class="page-footer__border"></div>
            <div class="page-footer__wrapper">
              <nav class="page-footer__nav">
                <a href="" class="page-footer__nav-link">тел. +7-999-888-77-66</a>
                <a href="" class="page-footer__nav-link">example@gmail.com</a>
                <a href="" class="page-footer__nav-link">Приятного аппетита</a>
                <a href="" class="page-footer__nav-link">Удачи и счастья</a>
              </nav>
      
            </div>
      
            </div>
      
          </div>
      
        </footer>

    </body>

</html>