<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Енотик-поварёнок</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="body">
  <header class="page-header">
    <div class="page-header__container">
      <a href="/" class="page-header__logo">
        <svg class="page-header__logo-img" width="20" height="20">
          <use xlink:href="{{ url_for('static', filename='assets/icons/symbols.svg') }}#racoon"></use>
        </svg>
      </a>

      <form id="searchForm" class="page-header__search">
        <input id="searchInput" class="page-header__search-put" type="text" placeholder="Поиск">
        <button class="page-header__search-btn" type="submit"></button>
    </form>

    </div>

    </div>

  </header>

  <main class="main">
    <div class="home">
      <header class="main-header home__main-header">
        <h1 class="main-header__title">Каталог</h1>
        <button type="button" class="main-header__filter-btn btn" id="js-recipefilterBtn" onclick="window.location.href='/filters'">Фильтры</button>
      </header>




    </div>
  </main>

  <footer class="page-footer">
    <div class="page-footer__container">
      <div class="page-footer__border"></div>
      <div class="page-footer__wrapper">
        <nav class="page-footer__nav">
          <a href="" class="page-footer__nav-link">тел. +7-999-888-77-66</a>
          <a href="" class="page-footer__nav-link">example@gmail.com</a>
          <a href="" class="page-footer__nav-link">Приятного аппетита</a>
          <a href="" class="page-footer__nav-link">Удачи и счастья</a>
        </nav>

      </div>

      </div>

    </div>

  </footer>

  <script src="{{ url_for('static', filename='scripts/main.min.js') }}"></script>
</body>

</html>