<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <title>Енотик-поварёнок</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400" rel="stylesheet">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

    <body class="body">

      <header class="page-header">
        <div class="page-header__container">
          <a href="/" class="page-header__logo">
            <svg class="page-header__logo-img" width="20" height="20">
              <use xlink:href="{{ url_for('static', filename='assets/icons/symbols.svg') }}#racoon"></use>
            </svg>
          </a>
        </div>
      </header>

        <main class="main">
          <article class="recipe">

            <header class="recipe__header">

              <h1 class="recipe__title">Омлет</h1>

              <div class="recipe__about">

                <picture class="recipe__picture">
                  <img src="../static/images/omlet.jpg" alt="omlet" class="recipe__image">
                </picture>


            </header>

            <div class="recipe__container">
              <div class="recipe__content content">

                <h5>Сложность: 2/5</h5>
                <h5>Цена: ~50 руб.</h5>
                <h5>Время: 15 мин.</h5>

                <br/>

                <h5>Ингредиенты:</h5>
                
                <ul>
                  <li>Яйца | 5 шт.</li>
                  <li>Молоко | 200 гр.</li>
                  <li>Твёрдый сыр | 60 гр.</li>
                  <li>Сливочное масло | 30 гр.</li>
                  <li>Фасоль стручковая зеленая | 35 гр.</li>
                  <li>Болгарский перец | 70 гр.</li>
                  <li>Помидоры | 30 гр.</li>
                  <li>Соль | по вкусу</li>
                  <li>Молотый черный перец | по вкусу</li>
                </ul>

                <br />

                <h5>Инструкция приготовления:</h5>

                <p>1. Как сделать омлет с овощами, сыром и зеленью? Подготовьте необходимые ингредиенты. Вместо черри можно взять обычные помидоры. Зелень подойдет любая по вкусу. Сыр тоже используйте тот, который больше нравится.</p>

                <p>2. Стручковая фасоль подойдет как свежая, так и замороженная. Опустите фасоль в кипящую воду. Бланшируйте на умеренном огне около 5 минут. Откиньте фасоль на сито, чтобы стекла вода.
                </p>

                <p>3. Болгарский перец и помидоры помойте, обсушите. Перец можно взять одного или нескольких цветов. Нарежьте перец небольшими кубиками. Помидоры выберите спелые, но не переспевшие, с плотной кожицей, чтобы при нарезании и приготовлении они сохранили свою форму. Черри разрежьте на половинки или четвертинки в зависимости от их размера.</p>

                <p>4. Сыр измельчите на средней терке.</p>

                <p>5. Яйца взбейте вилкой до однородности.</p>

                <p>6. Влейте молоко, хорошо перемешайте.</p>

                <p>7. В яично-молочную смесь добавьте тертый сыр, перемешайте.</p>

                <p>8. На сковороде растопите сливочное масло, выложите кубики болгарского перца. На умеренном огне обжарьте перец около 5 минут, помешивая.</p>

                <p>9. Добавьте стручковую фасоль, перемешайте. Обжарьте овощи еще пару минут. Они должны быть почти мягкими, но не перепревшими. Овощи можно немного посолить. При добавлении соли учитывайте вкус используемого сыра, чтобы омлет не получился пересоленным.</p>

                <p>10. Залейте овощи на сковороде омлетной смесью.</p>

                <p>11. Выложите в омлет нарезанные помидоры.</p>

                <p>12. Сковороду закройте крышкой. Готовьте омлет на огне чуть ниже среднего, чтобы он прожаривался равномерно. При сильном нагреве низ омлета подгорит, а внутри он будет еще не готов. Время приготовления будет зависеть от диаметра используемой сковороды. Чем выше омлет, тем больше времени потребуется. В среднем это 10-15 минут. Диаметр моей сковороды 20 см.</p>

                <p>13. Когда яичная смесь загустеет и станет стабильной, снимите сковороду с плиты.</p>

                <p>14. Подавать омлет можно как теплым, так и остывшим. Приятного аппетита!</p>

            </div>
          </div>

          </article>
        </main>
        
        <footer class="page-footer">
          <div class="page-footer__container">
            <div class="page-footer__border"></div>
            <div class="page-footer__wrapper">
              <nav class="page-footer__nav">
                <a href="" class="page-footer__nav-link">тел. +7-999-888-77-66</a>
                <a href="" class="page-footer__nav-link">example@gmail.com</a>
                <a href="" class="page-footer__nav-link">Приятного аппетита</a>
                <a href="" class="page-footer__nav-link">Удачи и счастья</a>
              </nav>
      
            </div>
      
            </div>
      
          </div>
      
        </footer>

    </body>

</html>