html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 147px;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  background-color: #dedede;
  background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
  background-position: 0 0, 0 0;
  background-size: auto, 100% auto;
  background-repeat: repeat, repeat-y;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.page-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
a {
  color: #1f1e1e;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
input,
textarea,
select button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
}
button {
  cursor: pointer;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #6c6c6c;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #6c6c6c;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #6c6c6c;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #6c6c6c;
}
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-ms-input-placeholder,
textarea:focus::-ms-input-placeholder {
  color: transparent;
}
textarea {
  resize: none;
}
/**
 * Swiper 11.0.6
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 5, 2024
 */
/* FONT_START */
@font-face {
  font-family: 'swiper-icons';
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
  padding-top: 147px;
}
.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 20px;
  border: 1px solid #754E4F;
  border-radius: 30px;
  /* Изменено значение border-radius */
  background-color: #FBEFED;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
}
.btn:active {
  background-color: #754E4F;
  color: #ffffff;
}
.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #754E4F;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #754E4F;
  cursor: pointer;
}
.listing {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.listing__recipes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px -120px;
}
.listing__recipe-card {
  width: calc(33.3333% - 60px);
  margin: 0 30px 120px;
}

.recepis__listing {
  margin-bottom: 100px;
}
.recipe-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.recipe-card__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recipe-card__link:hover .recipe-card__title {
  color: #754E4F;
  text-decoration-color: #754E4F;
}
.event-card__picture {
  position: relative;
  display: block;
  margin-bottom: 25px;
}
.event-card__picture__picture::before {
  content: '';
  display: block;
  width: 100%;
  padding-top: 107.16%;
}
.recipe-card__title {
  margin: 0 0 auto;
  min-height: 64px;
  text-decoration: underline;
  text-decoration-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #1f1e1e;
  -webkit-transition: color 0.2s, text-decoration-color 0.23s;
  transition: color 0.2s, text-decoration-color 0.23s;
}
body {
  padding: 0;
  margin: 0;
  background-color: #dedede;
  font-family: "Open Sans", sans-serif;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 100;
  border: 1px solid;
  border-color: #754E4F;
}
.page-header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 190, 177);
}
.page-header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.page-header__logo {
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 280px;
  height: 280px;
  font-size: 0;
  text-decoration: none;
  z-index: 1;
}
.page-header__logo-img {
  width: 100%;
  height: 100%;
}
.page-header__search {
  position: relative;
  width: 100%;
  /* Изменение ширины на 100% */
  max-width: 500px;
  /* Ограничение максимальной ширины */
  margin-right: 20px;
}
.page-header__search-put,
.page-header__search-btn {
  border: none;
  outline: none;
  border-radius: 30px;
}
.page-header__search-put {
  width: 100%;
  height: 42px;
  background: #FBEFED;
  padding-left: 15px;
  border: 2px solid;
  border-color: #754E4F;
}
.page-header__search-btn {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background: #FBEFED;
}
.page-header__search-btn::before {
  content: "\f002";
  font-family: FontAwesome;
  color: #754E4F;
  font-size: 20px;
  font-weight: bold;
}
.page-footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 75px;
}
.page-footer__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.page-footer__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}
.page-footer__border::before,
.page-footer__border::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  width: 2px;
}
.page-footer__border::before {
  margin-right: 50px;
  background: -webkit-gradient(linear, right top, left top, from(#1C1B1B), color-stop(82.86%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 82.86%);
}
.page-footer__border::after {
  margin-left: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#1C1B1B), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0) 100%);
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__nav {
  margin-right: 30px;
  position: relative;
  padding-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}
.page-footer__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background-color: #754E4F;
}
.page-footer__nav-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1f1e1e;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.page-footer__nav-link:active {
  color: #754E4F;
}
.main-header {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main-header__title{
  text-transform: uppercase;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  color: #1f1e1e;
  margin: 0 0 70px;
}
.main-header .main-header {
  padding: 100px 0;
}
.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.display-none {
  display: none;
}
.width_624 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
}
@media (max-width: 767px) {
  .swiper--3s .swiper-slide {
    width: calc(33.3333% + 6.6666px);
    min-width: 300px;
    padding-right: 20px;
  }
  .swiper--3s .swiper-slide:last-child {
    width: calc(33.3333% - 13.3333px);
  }
  .swiper-footer {
    margin: 60px auto 0;
  }
  .body {
    padding-top: 70px;
  }
  .article__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content {
    font-size: 14px;
  }
  .listing {
    padding-left: 20px;
    padding-right: 20px;
  }
  .listing__recipes-list {
    margin: 0 -10px -80px;
  }
  .listing__recipe-card {
    margin: 0 10px 80px;
  }
  .recipe-card__title {
    min-height: 44px;
    font-size: 16px;
    line-height: 22px;
  }
  /* .recipe-card__description {
    vertical-align:top;
  } */
  .page-header {
    height: 70px;
  }
  .page-header__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .page-header__container {
    padding-left: 0;
  }
  .page-header__logo {
    width: 150px;
    height: 150px;
    margin-left: -20px;
    margin-top: 3%;
  }
  .page-footer__container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 649px) {
  .listing__recipes-list {
    margin: 0 0 -60px;
  }
  .listing__recipe-card {
    width: 100%;
    margin: 0 0 60px;
  }
}
@media (max-width: 599px) {
  .section-title {
    font-size: 16px;
  }
}
@media (hover: hover) {
  .btn:hover {
    background-color: #1f1e1e;
    color: #ffffff;
  }
  .link:hover {
    color: #bc3324;
  }
  .contacts-item__info[href]:hover {
    color: #bc3324;
  }
  .info-item__info[href]:hover {
    color: #bc3324;
  }
  .subscribe__submit:hover {
    background-color: #bc3324;
  }
  .reserve__submit:hover {
    background-color: #a51505;
    color: #ffffff;
  }
  .offers__event-btn:hover {
    background-color: #a51505;
    color: #ffffff;
  }
  .page-footer__nav-link:hover {
    color: #754E4F;
  }
}
.filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  z-index: 110;
  background-color: #dedede;
}
@supports ((-webkit-backdrop-filter: blur(25px)) or (backdrop-filter: blur(25px))) {
  .filter {
    background-color: rgba(31, 30, 30, 0.4);
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
  }
}
.filter__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1210px;
  width: 100%;
  margin: auto;
  padding: 70px 40px 40px;
  background-color: #dedede;
  background-image: url(../assets/images/noise.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: auto;
}
.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.filter__arrow {
  z-index: 1000;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: rgba(224, 190, 177);
  border: none;
}
.filter__slider {
  width: 100%;
}
.filter__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Горизонтальное выравнивание по центру */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
}
.filter__btn {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  background-color: rgba(224, 190, 177);
}
.filter__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Горизонтальное выравнивание по центру */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 40px 0;
}
.filter__btns{
  display: flex;
  justify-content: space-around;
}
.recipe {
  margin-top: 40px;
}
.recipe__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}
.recipe__header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;
}
.recipe__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipe__picture {
  display: block;
  width: 497px;
  margin: 0 50px;
}
.recipe__image {
  display: block;
  width: 100%;
}
.recipe__content {
  max-width: 830px;
  margin-bottom: 80px;
}
.recipe__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  color: #1f1e1e;
  margin: 0 0 70px;
}